{% extends 'home/index.html' %}

{% block inicio %}
<section class="hero">
  <div class="container">
    <h1>📘 Proyecto Final</h1>
    <p class="lead">Sistema de Gestión de Empleados y Departamentos</p>
    <h5 class="mb-3">👥 Integrantes:</h5>
      <ul class="mb-4 list-unstyled">
        <li>Ramiro Bazan,</li>
        <li>Nicolás Pronesti</li>
        <li>Wilson Javier León</li>
        <li>Ariel Cruz</li>
        <li>Florencia Bravo</li>
        <li>Melany Vanesa Obregón Benítez</li>
        <li>Noelia Ramos Sabio</li>
      </ul>
    <h5 class="mb-3">✅ Requisitos cumplidos:</h5>
    <p>
      Organización de carpetas y archivos; configuración dividida en <code>base.py</code> y <code>local.py</code>; funcionamiento con PostgreSQL; admin con modelos registrados y personalizados; modelos bien definidos sin datos hardcodeados; URLs para listar y visualizar la información; listas con al menos un filtro funcional; CRUD completo en las entidades; vista detalle individual de cada registro con botón para editar.
    </p>
  </div>
</section>
{% endblock inicio %}

