<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <nav class="navbar navbar-expand-lg navbar-light navbar-light-custom fixed-top">
    <div class="container">
      <a class="navbar-brand text-primary fw-bold" href="http://127.0.0.1:8000/">PazAr Soluciones</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">Acerca de</a>
          </li>
          <li class="nav-item">
           
          </li>
          <li class="nav-item">
          
          </li>
        </ul>
      </div>
    </div>
  </nav>


    
   <!--  {% block inicio %}
    {% endblock inicio %}-->
      
    
</body>
</html>